/* SLIDESHOW */
@keyframes cambio {
  0%{ margin-left: 0;}
  10%{margin-left:0;}
  15%{margin-left: 0;}
  20%{margin-left: 0;}

  0%{ margin-right:0;}

  25%{ margin-left: -20%}


  45%{margin-left: -40%}

  55%{margin-left: -45%}

  70%{margin-left:-60%}
  75%{margin-left: -65%}

  80%{ margin-left: -80%}
  90%{margin-left: -90%}
  100%{ margin-left:-100%}
}

.container{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top :20px;
}

body{
text-align: center;
font-family: "Abril Fatface";
background-color: #AEA86B;
margin: auto;
}

#h1,#h3{
  font-family: sans-serif;
}

#start,#intro{
margin-right: auto;
margin-left: auto;
text-align: center;
}

#footer{
margin-top: none;
font-family: sans-serif;
position: fixed;
bottom: 0;
width: 100%;
height: 40px;
color: #797474;
}

/*BOTONES*/
.intro,.start,.opcion-jurado,.opcion-presentador,.comeback-inicio,.cifrar-jurado, .descifrar-presentador,.return-from-jury,.return-from-presenter{
    font-family:  "Abril Fatface";
     background:#F0EEDF;
     color: #black;
     padding: 15px;
     font-size: 15px;
     border-radius: 18px;
     border-top: 25px;
     border-bottom: 25px;
     margin-top:10px;
     margin-left:150px;
     float: center;
     position: center;
}

.slider{
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 100%;
  animation:cambio 20s infinite;
}

.slider li{
  list-style: none;
  width: 100%;
}

.slider img{
  width: 100%;
}

.none {
  display: none;
}

#cifrar-jurado, #descifrar-presentador{
    font-size: 15px;
}

* {
	margin:0;
	padding:0;
}


header {
	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
}

nav {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1000px;
	width:90%;
}

nav ul {
	list-style:none;
}

nav > ul {
	display:table;
	width:100%;
	background:#000;
	position:relative;
}

nav > ul li {
	display:table-cell;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
}

nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
