/* Acá va tu código */

/* DANDO ESTILO A LOS BOTONES */

@import "lesshat";

@keyframes cambio {
  0%{ margin-left: 0;}
  5%{ margin-left: 0;}
  10%{margin-left:0;}
  15%{margin-left: 0;}
  20%{margin-left: 0;}

  0%{ margin-right:0;}

  25%{ margin-left: -100%}
  35%{ margin-left: -100%}
  40%{ margin-left: -100%}
  45%{ margin-left: -100%}

  50%{ margin-left: -150%}
  70%{ margin-left: -150%}

  75%{ margin-left: -300%}
  100%{ margin-left:-300%}
}

.container{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top :20px;
}

body{
text-align: center;
font-family: "Helvetica";
background-color: #F9F7E4;
margin: auto;
}

#start,#intro{
margin-right: auto;
margin-left: auto;
text-align: center;
}

#footer{
margin-top: none;
}

.intro,.start,.opcion-jurado,.opcion-presentador,.comeback-inicio,.cifrar-jurado, .descifrar-presentador,.return-from-jury,.return-from-presenter{
position: center;
margin-left: auto;
margin-right: auto;
text-align: center;
background: #E0DECE;
border-radius: 35px;
text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
font-family: "Helvetica";
display:inline-block;
color: #FFF;
background: #7F8C8D;
padding: 7px 20px;
white-space: nowrap;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 100px;
margin: 10px 5px;
-webkit-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.slider{
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 100%;
  animation:cambio 20s infinite;
}

.slider li{
  list-style: none;
  width: 100%;
}

.slider img{
  width: 100%;
